version: '2'
services:
  site:
    build: .
    expose:
     - "5000"
    volumes:
     - ./:/var/www:ro
     - ${MUSIC}:/media/Music
  nginx:
    image: nginx:alpine
    volumes:
     - ./nginx.conf:/etc/nginx/nginx.conf:ro
     - ${MUSIC}:/media/Music
    ports:
     - "${FTMP3_PORT}:80"
