<!DOCTYPE html>
<html>
    <head>
        <title>FTMP3 - {{path or '/'}}</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/__static__/style.css">
    </head>
    <body>
        <div class="container">
            <div id="info">
              <img class="cover sm hide-on-large" />
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table style="border-spacing: 0;">
                        <tbody>
                          <tr>
                            <td rowspan="2" style="padding: 0 .5rem 0 0" width="200" class="hide-on-small">
                              <img class="cover lg" />
                            </td>
                            <td id="nowplaying">
                              <h3 style="margin-top: 0">Now playing:</h3>
                              <h4>
                                <span id="title">---</span>
                              </h4>
                            </td>
                          </tr>
                          <tr>
                            <td style="vertical-align: bottom">
                              <svg id="visualizer" viewBox="0 0 1200 200"
                                xmlns:svg="http://www.w3.org/2000/svg"
                                xmlns="http://www.w3.org/2000/svg">
                              </svg>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: .5rem 0 0 0">
                      <audio controls preload="none" hidden></audio>
                      <!-- audio player -->
                      <div id="Playback">
                        <form id="controls" onsubmit="event.preventDefault();">
                            <img class="control-btn" src="/__static__/prev.png" name="prev" onclick="AudioPlayer.previous(true)">
                            <img class="control-btn" src="/__static__/play.png" name="play" onclick="AudioPlayer.play()">
                            <img class="control-btn" src="/__static__/next.png" name="next" onclick="AudioPlayer.next(true)">
                            <label>|</label>
                            <label style="width: 1em; padding: .25em;">
                                <input name="shuffle" type="checkbox" onchange="AudioPlayer.reshuffle()" hidden>
                                <img class="control-btn" src="/__static__/shuffle.png">
                            </label>
                            <select name="repeat" id="repeat" style="
                                opacity: 0;
                                width: 1.5rem;
                                margin: 0;
                                margin-right: -1.5rem;
                            ">
                                <option value="none">No Repeat<button>
                                <option value="one">Repeat One</button>
                                <option value="all">Repeat All</button>
                            </select>
                            <label for="repeat" style="width: 1.5rem; padding: 0; margin-right: .5rem; margin-left: -1.5rem;">
                                <img class="control-btn" src="/__static__/repeat.png">
                            </label>
                            <div id="Progress">
                                <span>|</span>
                                <div class="bar">
                                    {% for i in range(50) %}
                                        <div class="meter" onclick="AudioPlayer.skip({{ i / 50 }})"></div>
                                    {% endfor %}
                                </div>
                                <span>|</span>
                            </div>
                            <label name="time">00:00</label>
                        </form>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <nav>
                {% if songs %}
                <a href="#songs" class="tab">Songs</a>
                {% endif %}
                {% if subdirectories %}
                <a href="#directories" class="tab">Subdirectories</a>
                <a href="?recurse=true" class="tab">Recurse</a>
                {% endif %}
                {% if recurse %}
                <a href="?" class="tab">Unrecurse</a>
                {% endif %}
                {% if playlists %}
                <a href="#playlists" class="tab">Playlists</a>
                {% endif %}
                <span class="tab">&nbsp;</span>
                {% if parent != path %}
                <a href="/{{parent}}" class="tab pull-right">..</a>
                {% endif %}
            </nav>
            {% if songs %}
            <section id="songs">
                <table class="table">
                    <thead>
                        <th width="30"></th>
                        <th width="40">Track</th>
                        <th class="hide-on-small" width="170">Artist</th>
                        <th>Title</th>
                        <th class="hide-on-small">Album</th>
                        <th width="50">Length</th>
                        <th class="hide-on-small" width="40">Save</th>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr data-url="{{song.path}}/stream" class="song"
                            {% if song.track %}
                            data-title="{{song.track}}. {{song.artist}} - {{song.title}}"
                            {% else %}
                            data-title="{{song.artist}} - {{song.title}}"
                            {% endif %}
                            data-img="{{song.path}}/cover"
                            onclick="AudioPlayer.activeSong = this"
                            >
                            <td></td>
                            <td>{{song.track}}</td>
                            <td class="hide-on-small">{{song.artist}}</td>
                            <td>{{song.title}}</td>
                            <td class="hide-on-small">{{song.album}}</td>
                            <td class="right">{{song.length}}</td>
                            <td class="center">
                                <a href="{{song.path}}" target="_blank" onclick="event.stopPropagation()">
                                    <img src="/__static__/save.png" width="16" height="16">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endif %}
            {% if subdirectories %}
            <section id="directories">
                <table class="table">
                    <thead>
                        <th>Path</th>
                        <th width="70">Songs</th>
                        <th width="70">Folders</th>
                        <th width="70">Playlists</th>
                    </thead>    
                    <tbody>
                        {% for dir in subdirectories %}
                        <tr>
                            <td>
                                <a href="/{{dir.path}}/">
                                    {{dir.name}}
                                </a>
                            </td>
                            <td>{{dir.songs}}</td>
                            <td>{{dir.directories}}</td>
                            <td>{{dir.playlists}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endif %}
            {% if playlists %}
            <section id="playlists">
                <table class="table">
                    <thead>
                        <th>Path</th>
                        <th width="70">Songs</th>
                        <th width="90">Duration</th>
                    </thead>    
                    <tbody>
                        {% for playlist in playlists %}
                        <tr>
                            <td>{{playlist}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% endif %}
            <h6 class="footer"><a href="https://github.com/nhydock/ftmp3">Powered by ftmp3</a></h6>
        </div>

        <!-- navigation -->
        <script  src="/__static__/nav.js" type="text/javascript"></script>
        <script  src="/__static__/player.js" type="text/javascript"></script>
        <!-- visualizer -->
        <script src="/__static__/visualizer.js" type="text/javascript"></script>
        <script>
            var AudioPlayer = new FTMP3();
            var vis = new Visualizer(AudioPlayer.player);
        </script>
    </body>
</html>
